<div class="flex flex-col mx-10">
  <p class="text-xl font-bold">
    <span class="text-[#707070]">Accueil / Produits /</span>
    Listes ({{ total }})
  </p>

  <div class="flex flex-col min-h-100 bg-white rounded-lg p-4 gap-4 mt-8">
    <p class="font-bold mt-4 text-blue-500">Filtrer</p>
    <div
      class="flex md:flex-row flex-col justify-between gap-2 min-h-20 items-center"
    >

      <input
        [(ngModel)]="organisation_email"
        (input)="onFilterChange()"
        type="text"
        placeholder="Rechercher par Email"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-transparent md:w-1/3 w-full"
      />
    </div>

    <div class="w-full h-[1px] custom-shadow bg-[#D1D8EB]"></div>

    <div class="flex md:flex-row flex-col justify-between gap-2">
      <div class="flex flex-row gap-2">
        <select
          id="status"
          [(ngModel)]="actualStatus"
          (change)="onFilterChange()"
          class="px-4 py-2 border rounded-lg focus:ring-1 transition-colors duration-200"
        >
          <option value="null" disabled selected>Sélectionnez un statut</option>
          <option value="active">Actif</option>
          <option value="inactive">Inactif</option>
        </select>
      </div>

      <div class="flex flex-row gap-2">
        <select
          id="perPage"
          class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-blue-500"
          [(ngModel)]="actualLimit"
          (change)="getMyPaternList(actualPage, actualLimit)"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        <select
          id="perPage"
          class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-blue-500 bg-[#A8AAAE29] border-0"
        >
          <option value="" disabled selected>Export</option>
          <option value="10">PDF</option>
          <option value="25">Excel</option>
        </select>


        <button
        class="bg-blue-500 rounded-lg px-4 py-2 cursor-pointer"
        (click)="openCreateUserDialog()"
      >
        <div class="flex flex-row items-center gap-2">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 3.75V14.25"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3.75 9H14.25"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div class="text-white">Nouvel produit</div>
        </div>
      </button>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="overflow-x-auto">
        <table class="w-full border-collapse">
          <thead>
            <tr>
              <th class="p-2 border-b text-left">Logo</th>
              <th class="p-2 border-b text-left">Nom de l'entreprise</th>
              <th class="p-2 border-b text-left">Téléphone</th>
              <th class="p-2 border-b text-left">Email</th>
              <th class="p-2 border-b text-left">Adresse</th>
              <th class="p-2 border-b text-left">Création</th>
              <th class="p-2 border-b text-left">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of usersList()"
              class="border-b border-gray-300"
            >
              <td>
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 38 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_50_5632)">
                    <rect
                      x="-0.1604"
                      y="0.0273438"
                      width="38"
                      height="38"
                      fill="#FC2828"
                      fill-opacity="0.18"
                    />
                    <path
                      d="M13.4942 24.9195C13.1242 24.9195 12.7667 24.8795 12.4217 24.7995C12.0767 24.7195 11.8392 24.657 11.7092 24.612L11.7917 23.097C11.9467 23.147 12.1217 23.2095 12.3167 23.2845C12.5167 23.3545 12.7592 23.3895 13.0442 23.3895C13.5342 23.3895 13.8692 23.2545 14.0492 22.9845C14.2292 22.7145 14.3192 22.267 14.3192 21.642V13.9245H15.9317V22.0845C15.9317 22.6945 15.8617 23.212 15.7217 23.637C15.5867 24.057 15.3442 24.377 14.9942 24.597C14.6442 24.812 14.1442 24.9195 13.4942 24.9195ZM18.3933 24.7695V13.9245H20.0658V19.362L24.6783 13.9245H26.5683L23.0283 18.1695L26.8983 24.7695H25.1133L21.8658 19.3395L20.0658 21.432V24.7695H18.3933Z"
                      fill="#FC2828"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_50_5632">
                      <rect width="38" height="38" rx="19" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </td>
              <td class="p-2">
                <div class="flex flex-row gap-2 items-center">
                  <span>{{ user.organisation_name }}</span>
                </div>
              </td>
              <td class="p-2">{{ user.organisation_phone }}</td>
              <td class="p-2">{{ user.organisation_email }}</td>
              <td class="p-2">{{ user.organisation_address }}</td>
              <td class="p-2">
                {{ user.created_at | date : "d MMMM y" : "" : "fr" }}
              </td>

              <td class="p-2 cursor-pointer">
                <div class="relative">
                  <div (click)="toggleStatusMenu(user)" class="flex items-center">
                    <svg
                      width="62"
                      height="44"
                      viewBox="0 0 58 44"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.5 22C10.5 15.6487 15.6487 10.5 22 10.5H42C48.3513 10.5 53.5 15.6487 53.5 22C53.5 28.3513 48.3513 33.5 42 33.5H22C15.6487 33.5 10.5 28.3513 10.5 22Z"
                        [attr.fill]="getStatusColor(user.status)"
                        fill-opacity="0.18"
                        [attr.stroke]="getStatusColor(user.status)"
                      />
                      <path
                        d="M15 22C15 17.5817 18.5817 14 23 14C27.4183 14 31 17.5817 31 22C31 26.4183 27.4183 30 23 30C18.5817 30 15 26.4183 15 22Z"
                        [attr.fill]="getStatusColor(user.status)"
                      />
                    </svg>
                    <span class="ml-2">
                      
                      <!-- {{user.status}} -->
                      <span *ngIf="user.status === 'inactive'">Inactive</span>
<span *ngIf="user.status === 'active'">Active</span>
                      <span *ngIf="user.status === 'suspended'">Suspendus</span>
<span *ngIf="user.status === 'rejected'">Rejecter</span>

                    </span>
                  </div>
                  
                  <div *ngIf="user.showStatusMenu" class="absolute z-10 mt-2 w-32 bg-white rounded-md shadow-lg">
                    <div class="py-1">
                      <a (click)="changeStatus(user, 'active')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Active</a>
                      <a (click)="changeStatus(user, 'inactive')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Inactive</a>
                      <a (click)="changeStatus(user, 'suspended')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Suspendre</a>
                      <a (click)="changeStatus(user, 'rejected')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Rejecter</a>
                    </div>
                  </div>
                </div>
              </td> 
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex flex-row md:justify-end justify-center gap-1 m-4">
        <button
          class="hidden md:block px-4 py-2 rounded-lg bg-blue-500 text-white cursor-pointer"
          (click)="changePage(actualPage - 1)"
          [disabled]="actualPage === 1"
        >
          Précédent
        </button>
        <button
          class="md:hidden px-1 py-2 rounded-lg bg-blue-500 text-white cursor-pointer"
          (click)="changePage(actualPage - 1)"
          [disabled]="actualPage === 1"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1265_7706)">
              <path
                d="M17.5098 3.8701L15.7298 2.1001L5.83984 12.0001L15.7398 21.9001L17.5098 20.1301L9.37984 12.0001L17.5098 3.8701Z"
                fill="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_1265_7706">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button
          *ngFor="let pageNumber of [].constructor(totalPages); let i = index"
          (click)="changePage(i + 1)"
          class="rounded-lg px-4 bg-[#4B465C29] cursor-pointer transition-ease"
          [ngClass]="{ 'bg-blue-500  text-white': actualPage === i + 1 }"
        >
          {{ i + 1 }}
        </button>
        <button
          class="hidden md:block px-4 py-2 rounded-lg bg-blue-500 text-white cursor-pointer"
          (click)="changePage(actualPage + 1)"
          [disabled]="actualPage === totalPages"
        >
          Suivant
        </button>
        <button
          class="md:hidden px-1 py-2 rounded-lg bg-blue-500 text-white cursor-pointer"
          (click)="changePage(actualPage + 1)"
          [disabled]="actualPage === totalPages"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1265_7724)">
              <path
                d="M6.49023 20.1301L8.26023 21.9001L18.1602 12.0001L8.26023 2.1001L6.49023 3.8701L14.6202 12.0001L6.49023 20.1301Z"
                fill="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_1265_7724">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
